*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
}
.section{
    float: left;
    width: 100%;
    background-color: white;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.mau{
    width: 100%;
    background-color: rgb(161, 31, 43);
    padding: 10px;
    font-family: 'Arimo', sans-serif;
    font-size: small;
    float:right;
}
.lienhe{
    float: left;
    text-align: center;
    text-indent: 30px;

}
.lienhe a {
    text-decoration: none;
    color: white;
}
.lienhe i{
    color:white;
}
.lienhe1 i{
    color:white;
}
.lienhe1{
 text-align: left;
    text-indent: 30px;
}
.lienhe1 a{
    text-decoration: none;
    color:white;
    white-space: pre-line;
}
.lienhe1 input{
    float: right;
    text-align: justify;
    border: 1px solid white;
    border-radius: 30px;
    line-height: 1.6;
    background-color: rgb(161,31,43);
    color:white;
    overflow: hidden;
    padding: 8px;
}
::placeholder{
    color:white;
}
.mau3 {
    width: 100%;
    background-color: white;
    padding-top:15px;
    padding-bottom:30px;
    float:left;
    border: 1px solid rosybrown;

}
.{
}

.mau3 a{
    text-decoration: none;
    color:black;
    letter-spacing: 1px;
    font-family: sans-serif;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 20px;
    padding-top: 0 px;
    background-color: white;


}
.img_background{
    box-sizing: inherit;
    width: 100%;
    margin-top: 0;
}
.img_background img {
    width: 100%;
    color: #f2f2f2;
}
.top{
    margin-top:40px;
}
h1{
    margin-left: 85px;
    margin-bottom: 28px;
    font-size: 30px;
    font-family: sans-serif;
}
.art{
    width: 94%;
    margin-left: 65px;
    background-color: white;
}
.art h2 a{
    text-decoration: none;
    padding-left: 350px;
    color: black;

}
.art a{
    float:left;
    padding-left: 25px;
    text-decoration: none;
    color: black;
    font-size:22px;
    font-family: sans-serif;

}
.art p{
    padding: 25px;
    padding-left: 351px;
    color: #595959;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: small;
}
.more-link a{
    background-color: #c75d5d;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    float: right;
    border: 1px solid #292929;
    padding: 10px 30px;
    line-height: 1em;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}
.art h2{
    text-align: center;
    padding-top: 28px;
    font-size: 15px;
    font-family: monospace;
}
.more-link u{
    font-family: monospace;
    font-size: 30px;
    text-decoration-color: yellow;
    color: #344a5e;
    padding-left: 78px;
}
.meo{
    width: 100%;
    padding-top: 20px;
}
.item-post{
    display: inline-block;
    width: 33.333%;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #F2F2F2;
}
.a{
    text-decoration: none;
    float:top;
}

.content-box{
    display: flex;
    flex-wrap: wrap;
}
.content-box a {
    text-decoration: none;
    padding-left: 8px;
    color:#384d61;
    font-family: monospace;
}
.content-box u{
    text-decoration: none;
    font-size: 12px;
}
.post-img{
    box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.2), 0 0px 0 rgba(0,0,0,0.07), inset 0 0 0 0px rgba(0,0,0,0.05);
    padding: 5px;
    padding-right: 22px;
}
.item-post{
    display: inline-block;
    width: 33.333%;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #F2F2F2;
}
.content-box{
    float: left;

}


